RewriteEngine On

# Ignore real files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all requests to index.php
RewriteRule ^ public/index.php [L]

# Pass Authorization header to PHP (for JWT)
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%1]
